@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
 <div class="row">

            <div class="col-sm-4">
                                <img src="~/Content/deepu/Dipu.jpg" class="img img-responsive" style="width:100%; height:100%" />
                </div>

       
         E-commerce (Electronic Commerce or EC) is the buying and selling of goods
and services on the Internet, especially the World Wide Web. E-Commerce is like
any other business, developing a business over the Internet requires many of the
same major activities as starting any other business. You should do some basic
business planning. After all, you need a product. You may need funding to get your
business going. You need customers. You need to market products to your
customers. You need strong customer service. You need to manage purchases by
customers, finances, staff and other resources.
Think of E-Commerce and the first few features that strike any mind are – a global
marketplace – increased sales – increased profits! Not that you start claiming better
margin of profit online, but because various expenses relating to marketing,
promotional material, order processing, customer care, inventory management,
information storage, telecommunications, considerably slash
            </div>
        
         <head> 
     <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
 </head>
    

    <p>
      
    </p>

    <p>
        
</article>

<aside>
    <h1 style="color:green">Deepak Rajpoot Founder Of BiZON.COM</h1>
    <h3>Help Line Number 7217847446</h3>
 
   @* <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
</aside>




